{% extends "base.html" %}
{% block content %}
<h3 style="text-align: center;">Works log</h3>
{% for job in jobs %}
    <div>
        <h4>Action # {{job.id}}</h4>
        <table class="table">
            <tr>
                <th class="table-secondary">Title of activity</th>
                <th class="table-secondary">Team leader</th>
                <th class="table-secondary">Duration</th>
                <th class="table-secondary">List of collaborators</th>
                <th class="table-secondary">Is finished</th>
            </tr>
            <tr>
                <td class="table-primary">{{job.job}}</td>
                <td class="table-primary">{{job.user.name}} {{job.user.surname}}</td>
                <td class="table-primary">{{job.work_size}}</td>
                <td class="table-primary">{{job.collaborators}}</td>
                {% if job.is_finished %}
                    <td class="table-primary">{{job.is_finished}}</td>
                {% else %}
                    <td class="table-danger">{{job.is_finished}}</td>
                {% endif %}
            </tr>
        </table><br>
    </div>
{% endfor %}
{% endblock %}